$color-text: #333333;
$color-night-backgd: #2C292D;
$color-light-grey: #e4e4e4;

/* Solarised colours */

$color-accent: #268BD2;
$color-bg-light: #FDF6E3;
$color-bg-dark: #073642;
$color-bg-dark2: #002B36;
$color-fg-grey2: #839496;
$color-accent-green: #859900;

$color-accent-purple: #6C71C4;

$color-night-accent: $color-accent-purple;

@mixin screen-1060 {
  @media screen and (max-width: 1060px) {
    @content
  }
}

@mixin screen-720 {
  @media screen and (max-width: 720px) {
    @content
  }
}

@mixin screen-480 {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin screen-300 {
  @media screen and (max-width: 300px) {
    @content;
  }
}

@mixin screen-print {
  @media print {
    @content;
  }
}